{% load static %}
<html>
    <head>
        <title>아르바이트 근태 관리</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="title">
            아르바이트 근태 관리
        </div>
        <input id="name" class="name" type="text" placeholder="이름을 입력해주세요." required>
        <input id="date" class="date" type="date" required>
        <input id="start_time" class="time" type="time" required>
        <input id="end_time" class="time" type="time" required>
        <input id="submit" class="button" type="submit" value="입력" onClick=calculateData()>
        <input id="clear" class="button" type="submit" value="내용지우기" onClick=cleanData()>
        <input id="calculate" class="button" type="submit" value="월급계산" onClick="calculateSalary()">
        <hr>
        <div id="content"></div>
        <hr>
        <div id="salary"></div>
        <script src="{% static 'javascript/blog.js' %}" type="text/javascript"></script>
    </body>
</html>
